.container {
    display: flex;
    flex-direction: row;
}

dialog {
    border-radius: 6px;
    border-color: gainsboro;
    border-width: 2px;
}

h1 {
    color: black;
}

button {
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    border-width: 2px;
    border-color: gainsboro;
    border-style: solid;
    margin: 3px;
}